.user{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.user:last-of-type{
    margin-bottom: 70px;
}
#details-form{
    display: none;
    flex-direction: column;
    align-items: center;
}